<div class="row align-items-center">
    <div class="mockup col-lg-6" style="height: 100%;">
        <div class="device-mockup">
            <!-- <div data-device="Macbook2015" data-orientation="portrait" data-color="gold" class="device"> -->
              <div class="screen"><img src="{{imageUrl}}" onerror="this.src='assets/images/image-placeholder.jpg'" alt="..."></div>
            <!-- </div> -->
          </div>
    </div>
    <div class="text col-lg-6 text-center text-lg-left mt-5 mt-lg-0">
        <h2><a href="{{url}}" target="_blank">{{title}}</a></h2>
        <p>{{date}}</p>
    </div>
</div>
